{% extends 'base.html' %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'css/map.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script src="{%static 'js/map.js' %}" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZY5nutUGjjf4DLJPPoAXYaykJG7vt5cI&callback=initMap"async defer></script>
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
    {% include 'core/home_header.html' with active_menu='tracks' %}
    <a href="does nothing" class="btn btn-primary pull-right">Some button</a>

    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Configure your tracks</h2>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 map">
            <div class="google-map-canvas" id="map-canvas" ></div>
        </div>
        <div class="col-md-4">
            <div  class="list-group">
               {% for track in tracks %}
                        <a id="track_select" href="#" data-item ="{{ track.uuid }}" class="list-group-item">{{ track.uuid }}</a>
               {% endfor %}
           </div>
        </div>
      </div>
    </div>


{% else %}
<h2>Sorry, you are not authenticated</h2>
{% endif %}

{% endblock content %}